h1,
h2 {
  font-family: Lato;
}
body {
  background: #f4f5f9;
}
.email-card {
  display: flex;
  border: 2px solid #cfd2dc;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  margin-bottom: 16px;
  padding: 16px;
}

.card.selected {
  background: #f2f2f2;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  color: #fff;
  text-align: center;
  background: #e54065;
  margin: 8px;
}

.mark-favorite {
  cursor: pointer;
}
#filters {
  display: flex;
}
.filter {
  margin-right: 8px;
  cursor: pointer;
}

.email-card.active {
  border: 1px solid #e54065;
}

#email-portal {
  display: flex;
}
#email-list {
  width: 100%;
  margin: 16px;
}

#email-content {
  display: none;
  border: 2px solid #cfd2dc;
  border-radius: 5px;
  background: #fff;
  padding: 16px;
  margin: 16px;
}

#email-content > .avatar {
  width: 40%;
}
#email-content > .content {
  padding: 16px;
}
.email-card.read {
  background-color: #f2f2f2;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.heading {
  display: flex;
  justify-content: space-between;
}
